
@{
    ViewData["Title"] = "Document Management";
}

<div class="text-center">
    <h1>Document Management</h1>
    <p>Server issue with document management feature, please report.</p>
    <a href="mailto:dev@dev.intranet.umbrellacorp.local" class="btn btn-warning">Report Here</a>
}
