
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Umbrella Intranet</h1>
    <p>Explore our internal documents and articles.</p>
    <a href="@Url.Action("DocumentManagement", "Home")" class="btn btn-primary">Document Management Page</a>
    <p>Server issue with document management feature, please report.</p>
    <a href="@Url.Action("Articles", "Home")" class="btn btn-secondary">Article Search Page</a>
}
